{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container columns">
            {% for column in page.content|split('<hr />') %}
            <div class="column">{{ column }}</div>
            {% endfor %}
    </div>
{% endblock %}

