.klng-columns {
    display: flex;
    flex-wrap: wrap;
}

.klng-columns > div {
    width: 50%;
    padding: 0.5rem;
}

.klng-columns > div:last-child:nth-child(odd) {
    width: 100%;
}

#koulenga-home {
    display: flex;
    flex-wrap: wrap;
}

#koulenga-home > div {
    width: 50%;
}