body {
    background: #996a51; /* #db885b; #bf5f2c; */
    color: #fff;
}

.logo img {
    max-width: 50px;
    max-height: 50px;
}

.mobile-logo {
    max-width: 50px;
    max-height: 50px;
}

.bg-gray {
    background: #996a51;
}